<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.synconset.imagepicker"
  version="1.0.6">

	<name>ImagePicker</name>

	<description>
		This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
	</description>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/imagepicker.js" name="ImagePicker">
		<clobbers target="plugins.imagePicker" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="ios-package" value="SOSPicker"/>
			</feature>
		</config-file>

		<header-file src="src/ios/SOSPicker.h" />
		<source-file src="src/ios/SOSPicker.m" />

		<pod>DNImagePicker</pod>
		<pod>GMImagePicker</pod>
		<pod>MRProgress</pod>
		<pod>MBProgressHUD.h</pod>



		<framework src="Accelerate.framework" />
		<framework src="Security.framework" />
		<framework src="Photos.framework" weak="true"/>
		<framework src="SystemConfiguration.framework" />
		<framework src="QuartzCore.framework" />

	</platform>

	<!-- android -->
	<platform name="android">
		<!-- <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4" /> -->
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="android-package" value="com.synconset.ImagePicker"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:label="@string/multi_app_name" android:name="com.synconset.MultiImageChooserActivity" android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait">
				<!-- <intent-filter /> -->
			</activity>
		<activity
			android:name="com.photoselector.ui.PhotoSelectorActivity"
			android:label="图片选择"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.photoselector.ui.PhotoPreviewActivity"
			android:label="图片预览"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.photoselector.ui.PhotoSelectorPreview"
			android:label="点击图片"
			android:screenOrientation="portrait" >
		</activity>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>

		<config-file target="res/values/strings.xml" parent="/resources">
			<string name="multi_app_name">UltraPhotoSelector</string>
			<string name="more_than_max">Exceeds the upper limit</string>
			<string name="preview">Preview</string>
			<string name="recent_photos">Recent photos</string>
			<string name="sure">Next</string>
			<string name="select_photos">Select photos</string>
			<string name="back">Back</string>
			<string name="taking_pictures">Taking Pictures</string>
			<string name="max_img_limit_reached">Cannot select more than %d images</string>
			<string name="alert_limit_title">Maximum %1$d Photos</string>
			<string name="alert_limit_message">You can only select %1$d photos at a time.</string>
			<string name="ok">OK</string>
			<string name="progress_title">Processing Images</string>
			<string name="progress_message">This may take a few moments.</string>
		</config-file>
		<!-- <framework src="src/android/Library/Android-Ultra-Photo-Selector" custom="true"/> -->


		<source-file src="src/android/com/synconset/ImagePicker/ImagePicker.java" target-dir="src/com/synconset" />
		<source-file src="src/android/com/synconset/ImagePicker/FakeR.java" target-dir="src/com/synconset" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/libs/universal-image-loader-1.9.3-with-sources.jar" target-dir="libs" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/controller/AlbumController.java" target-dir="src/com/photoselector/controller" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/domain/PhotoSelectorDomain.java" target-dir="src/com/photoselector/domain" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/model/AlbumModel.java" target-dir="src/com/photoselector/model" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/model/PhotoModel.java" target-dir="src/com/photoselector/model" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/AlbumAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/AlbumItem.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/BasePhotoPreviewActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/MBaseAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoItem.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoPreview.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoPreviewActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoSelectorActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoSelectorAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/util/AnimationUtil.java" target-dir="src/com/photoselector/util" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/util/CommonUtils.java" target-dir="src/com/photoselector/util" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/Animation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/Animator.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingAnimationListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageView.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageViewListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageViewTouchListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MathUtils.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MoveAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MoveAnimationListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/VectorF.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/ZoomAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/ZoomAnimationListener.java" target-dir="src/com/polites" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/activity_alpha_action_in.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/pb_default.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_down.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_down_current.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_up.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_up_current.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/bg_back_arrow_white_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/bg_dark_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_back_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_black_textcolor_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_camera_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_checkbox_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_green_selector_rectangle.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_album_border.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_dark.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_dark_translucent.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_grey_dark.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_back_arrow_white_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_back_arrow_white_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_camera_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_camera_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_checkbox_normal.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_checkbox_pressed.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_choice_green.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_launcher.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_loading_white.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_picture_loadfailed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_picture_loading.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_spinner_white.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_title_btn_back.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-mdpi/ic_launcher.png" target-dir="res/drawable-mdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_checkbox_normal.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_checkbox_pressed.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_launcher.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xxhdpi/arrow.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xxhdpi/ic_launcher.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/activity_photopreview.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/activity_photoselector.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/layout_album.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/layout_photoitem.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/view_camera.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/view_photopreview.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/colors.xml" target-dir="res/values" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/dimens.xml" target-dir="res/values" />
		<!-- <source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/strings.xml" target-dir="res/values" /> -->
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/styles.xml" target-dir="res/values" />
		<!-- <source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values-zh/strings.xml" target-dir="res/values-zh" /> -->
	</platform>

	<!-- amazon-fireos -->
	<platform name="amazon-fireos">
		<!-- <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4" /> -->
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="android-package" value="com.synconset.ImagePicker"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:label="@string/multi_app_name" android:name="com.synconset.MultiImageChooserActivity" android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait">
				<!-- <intent-filter /> -->
			</activity>
		<activity
			android:name="com.photoselector.ui.PhotoSelectorActivity"
			android:label="图片选择"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.photoselector.ui.PhotoPreviewActivity"
			android:label="图片预览"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.photoselector.ui.PhotoSelectorPreview"
			android:label="点击图片"
			android:screenOrientation="portrait" >
		</activity>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>

		<config-file target="res/values/strings.xml" parent="/resources">
			<string name="multi_app_name">UltraPhotoSelector</string>
			<string name="more_than_max">Exceeds the upper limit</string>
			<string name="preview">Preview</string>
			<string name="recent_photos">Recent photos</string>
			<string name="sure">Next</string>
			<string name="select_photos">Select photos</string>
			<string name="back">Back</string>
			<string name="taking_pictures">Taking Pictures</string>
			<string name="max_img_limit_reached">Cannot select more than %d images</string>
			<string name="alert_limit_title">Maximum %1$d Photos</string>
			<string name="alert_limit_message">You can only select %1$d photos at a time.</string>
			<string name="ok">OK</string>
			<string name="progress_title">Processing Images</string>
			<string name="progress_message">This may take a few moments.</string>
		</config-file>
		<!-- <framework src="src/android/Library/Android-Ultra-Photo-Selector" custom="true"/> -->


		<source-file src="src/android/com/synconset/ImagePicker/ImagePicker.java" target-dir="src/com/synconset" />
		<source-file src="src/android/com/synconset/ImagePicker/FakeR.java" target-dir="src/com/synconset" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/libs/universal-image-loader-1.9.3-with-sources.jar" target-dir="libs" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/controller/AlbumController.java" target-dir="src/com/photoselector/controller" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/domain/PhotoSelectorDomain.java" target-dir="src/com/photoselector/domain" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/model/AlbumModel.java" target-dir="src/com/photoselector/model" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/model/PhotoModel.java" target-dir="src/com/photoselector/model" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/AlbumAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/AlbumItem.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/BasePhotoPreviewActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/MBaseAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoItem.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoPreview.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoPreviewActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoSelectorActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoSelectorAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/util/AnimationUtil.java" target-dir="src/com/photoselector/util" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/util/CommonUtils.java" target-dir="src/com/photoselector/util" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/Animation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/Animator.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingAnimationListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageView.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageViewListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageViewTouchListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MathUtils.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MoveAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MoveAnimationListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/VectorF.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/ZoomAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/ZoomAnimationListener.java" target-dir="src/com/polites" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/activity_alpha_action_in.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/pb_default.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_down.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_down_current.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_up.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_up_current.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/bg_back_arrow_white_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/bg_dark_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_back_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_black_textcolor_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_camera_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_checkbox_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_green_selector_rectangle.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_album_border.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_dark.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_dark_translucent.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_grey_dark.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_back_arrow_white_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_back_arrow_white_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_camera_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_camera_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_checkbox_normal.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_checkbox_pressed.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_choice_green.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_launcher.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_loading_white.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_picture_loadfailed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_picture_loading.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_spinner_white.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_title_btn_back.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-mdpi/ic_launcher.png" target-dir="res/drawable-mdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_checkbox_normal.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_checkbox_pressed.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_launcher.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xxhdpi/arrow.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xxhdpi/ic_launcher.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/activity_photopreview.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/activity_photoselector.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/layout_album.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/layout_photoitem.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/view_camera.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/view_photopreview.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/colors.xml" target-dir="res/values" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/dimens.xml" target-dir="res/values" />
		<!-- <source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/strings.xml" target-dir="res/values" /> -->
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/styles.xml" target-dir="res/values" />
		<!-- <source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values-zh/strings.xml" target-dir="res/values-zh" /> -->
	</platform>
</plugin>
