<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.synconset.imagepicker"
  version="1.0.6">

	<name>ImagePicker</name>

	<description>
		This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
	</description>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/imagepicker.js" name="ImagePicker">
		<clobbers target="plugins.imagePicker" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="ios-package" value="SOSPicker"/>
			</feature>
		</config-file>

		<header-file src="src/ios/SOSPicker.h" />
		<source-file src="src/ios/SOSPicker.m" />

		<header-file src="src/ios/DNImagePicker/DNAlbumTableViewController.h" />
		<source-file src="src/ios/DNImagePicker/DNAlbumTableViewController.m" />

		<header-file src="src/ios/DNImagePicker/DNAsset.h" />
		<source-file src="src/ios/DNImagePicker/DNAsset.m" />

		<header-file src="src/ios/DNImagePicker/DNImageFlowViewController.h" />
		<source-file src="src/ios/DNImagePicker/DNImageFlowViewController.m" />

		<header-file src="src/ios/DNImagePicker/DNImagePickerController.h" />
		<source-file src="src/ios/DNImagePicker/DNImagePickerController.m" />

		<header-file src="src/ios/DNImagePicker/DNPhotoBrowser.h" />
		<source-file src="src/ios/DNImagePicker/DNPhotoBrowser.m" />

		<header-file src="src/ios/DNImagePicker/Extensions/NSURL+DNIMagePickerUrlEqual.h" />
		<source-file src="src/ios/DNImagePicker/Extensions/NSURL+DNIMagePickerUrlEqual.m" />

		<header-file src="src/ios/DNImagePicker/Extensions/UIColor+Hex.h" />
		<source-file src="src/ios/DNImagePicker/Extensions/UIColor+Hex.m" />

		<header-file src="src/ios/DNImagePicker/Extensions/UIView+DNImagePicker.h" />
		<source-file src="src/ios/DNImagePicker/Extensions/UIView+DNImagePicker.m" />

		<header-file src="src/ios/DNImagePicker/Extensions/UIViewController+DNImagePicker.h" />
		<source-file src="src/ios/DNImagePicker/Extensions/UIViewController+DNImagePicker.m" />

		<header-file src="src/ios/DNImagePicker/Views/DNAssetsViewCell.h" />
		<source-file src="src/ios/DNImagePicker/Views/DNAssetsViewCell.m" />

		<header-file src="src/ios/DNImagePicker/Views/DNBadgeLabel.h" />
		<source-file src="src/ios/DNImagePicker/Views/DNBadgeLabel.m" />

		<header-file src="src/ios/DNImagePicker/Views/DNBrowserCell.h" />
		<source-file src="src/ios/DNImagePicker/Views/DNBrowserCell.m" />

		<header-file src="src/ios/DNImagePicker/Views/DNFullImageButton.h" />
		<source-file src="src/ios/DNImagePicker/Views/DNFullImageButton.m" />

		<header-file src="src/ios/DNImagePicker/Views/DNSendButton.h" />
		<source-file src="src/ios/DNImagePicker/Views/DNSendButton.m" />

		<header-file src="src/ios/DNImagePicker/Views/DNUnAuthorizedTipsView.h" />
		<source-file src="src/ios/DNImagePicker/Views/DNUnAuthorizedTipsView.m" />

		<header-file src="src/ios/DNImagePicker/Views/JKPromptView.h" />
		<source-file src="src/ios/DNImagePicker/Views/JKPromptView.m" />

		<header-file src="src/ios/DNImagePicker/Views/MWTapDetectingImageView.h" />
		<source-file src="src/ios/DNImagePicker/Views/MWTapDetectingImageView.m" />

		<resource-file src="src/ios/DNImagePicker/Base.lproj/DNImagePicker.strings" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/assets_placeholder_picture.imageset/assets_placeholder_picture@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/camera_edit_cut_cancel.imageset/camera_edit_cut_cancel@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/camera_edit_cut_cancel_highlighted.imageset/camera_edit_cut_cancel_highlighted@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photo_original.imageset/compose_photo_original@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photo_original.imageset/compose_photo_original@3x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photo_original_highlighted.imageset/compose_photo_original_highlighted@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photo_original_highlighted.imageset/compose_photo_original_highlighted@3x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph.imageset/compose_photograph@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph.imageset/compose_photograph@3x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph_background.imageset/compose_photograph_background@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph_highlighted.imageset/compose_photograph_highlighted@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/compose_photograph_highlighted.imageset/compose_photograph_highlighted@3x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/navigationbar_arrow_down.imageset/navigationbar_arrow_down@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/navigationbar_arrow_up.imageset/navigationbar_arrow_up@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/navigationbar_title_highlighted.imageset/navigationbar_title_highlighted@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/photo_check_default.imageset/photo_check_default@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/photo_check_default.imageset/photo_check_default@3x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/photo_check_selected.imageset/photo_check_selected@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/photo_check_selected.imageset/photo_check_selected@3x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_alert_sigh.imageset/picker_alert_sigh@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_button_orange.imageset/picker_button_orange@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_button_orange_highlighted.imageset/picker_button_orange_highlighted@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_image_placeholder.imageset/picker_image_placeholder@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/picker_photo_filter_checked.imageset/picker_photo_filter_checked@2x.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/back_normal.imageset/back_normal.png" />
		<resource-file src="src/ios/DNImagePicker/ImagesPicker.xcassets/images/back_highlight.imageset/back_highlight.png" />


		<header-file src="src/ios/GMImagePicker/UIImage+fixOrientation.h" />
		<source-file src="src/ios/GMImagePicker/UIImage+fixOrientation.m" />

		<header-file src="src/ios/GMImagePicker/GMAlbumsViewCell.h" />
		<source-file src="src/ios/GMImagePicker/GMAlbumsViewCell.m" />

		<header-file src="src/ios/GMImagePicker/GMAlbumsViewController.h" />
		<source-file src="src/ios/GMImagePicker/GMAlbumsViewController.m" />

		<header-file src="src/ios/GMImagePicker/GMFetchItem.h" />
		<source-file src="src/ios/GMImagePicker/GMFetchItem.m" />

		<header-file src="src/ios/GMImagePicker/GMGridViewCell.h" />
		<source-file src="src/ios/GMImagePicker/GMGridViewCell.m" />

		<header-file src="src/ios/GMImagePicker/GMGridViewController.h" />
		<source-file src="src/ios/GMImagePicker/GMGridViewController.m" />

		<header-file src="src/ios/GMImagePicker/GMImagePickerController.h" />
		<source-file src="src/ios/GMImagePicker/GMImagePickerController.m" />

		<header-file src="src/ios/GMImagePicker/PSYBlockTimer.h" />
		<source-file src="src/ios/GMImagePicker/PSYBlockTimer.m" />

		<header-file src="src/ios/GMImagePicker/GMPHAsset.h" />
		<source-file src="src/ios/GMImagePicker/GMPHAsset.m" />

		<resource-file src="src/ios/GMImagePicker/GMEmptyFolder@1x.png" />
		<resource-file src="src/ios/GMImagePicker/GMEmptyFolder@2x.png" />

		<resource-file src="src/ios/GMImagePicker/GMSelected.png" />
		<resource-file src="src/ios/GMImagePicker/GMSelected@2x.png" />

		<resource-file src="src/ios/GMImagePicker/GMVideoIcon.png" />
		<resource-file src="src/ios/GMImagePicker/GMVideoIcon@2x.png" />

		<resource-file src="src/ios/GMImagePicker/Base.lproj/GMImagePicker.strings" target="res/strings-base/GMImagePicker.strings" />

		<!-- NOTE that MRProgress (and its dependency AFNetworking) have been added for a semi-useful
		     progress indicator. We may remove that if we have trouble with these files for some reason. -->

		<!-- AF Networking -->
		<source-file src="src/ios/GMImagePicker/AFNetworking/LICENSE" target-dir="resources/AFNetworking" />
		<source-file src="src/ios/GMImagePicker/AFNetworking/README.md" target-dir="resources/AFNetworking" />

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFHTTPRequestOperation.h"  target-dir="AFNetworking" />
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFHTTPRequestOperation.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFHTTPRequestOperationManager.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFHTTPRequestOperationManager.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFHTTPSessionManager.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFHTTPSessionManager.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFNetworking.h" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFNetworkReachabilityManager.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFNetworkReachabilityManager.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFSecurityPolicy.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFSecurityPolicy.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFURLConnectionOperation.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFURLConnectionOperation.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFURLRequestSerialization.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFURLRequestSerialization.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFURLResponseSerialization.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFURLResponseSerialization.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFURLSessionManager.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/AFNetworking/AFURLSessionManager.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIAlertView+AFNetworking.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIAlertView+AFNetworking.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIKit+AFNetworking.h" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.m" target-dir="AFNetworking"/>

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m" target-dir="AFNetworking" />

		<header-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.h" target-dir="AFNetworking"/>
		<source-file src="src/ios/GMImagePicker/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.m" target-dir="AFNetworking"/>

		<!-- mr progress -->
		<header-file src="src/ios/GMImagePicker/mrprogress/MRProgress.h" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Blur/MRBlurView.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Blur/MRBlurView.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Blur/UIImage+MRImageEffects.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Blur/UIImage+MRImageEffects.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Components/MRActivityIndicatorView.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Components/MRActivityIndicatorView.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Components/MRCircularProgressView.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Components/MRCircularProgressView.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Components/MRIconView.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Components/MRIconView.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Components/MRNavigationBarProgressView.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Components/MRNavigationBarProgressView.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Components/MRProgressOverlayView.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Components/MRProgressOverlayView.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Components/MRProgressView.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Components/MRProgressView.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Components/MRStopableView.h" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Components/MRStopButton.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Components/MRStopButton.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Support/AFNetworking/MRActivityIndicatorView+AFNetworking.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Support/AFNetworking/MRActivityIndicatorView+AFNetworking.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Support/AFNetworking/MRProgressOverlayView+AFNetworking.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Support/AFNetworking/MRProgressOverlayView+AFNetworking.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Support/AFNetworking/MRProgressView+AFNetworking.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Support/AFNetworking/MRProgressView+AFNetworking.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Utils/MRMessageInterceptor.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Utils/MRMessageInterceptor.m" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Utils/MRMethodCopier.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Utils/MRMethodCopier.m" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Utils/MRProgressHelper.h" target-dir="mrprogress" />

		<header-file src="src/ios/GMImagePicker/mrprogress/Utils/MRWeakProxy.h" target-dir="mrprogress" />
		<source-file src="src/ios/GMImagePicker/mrprogress/Utils/MRWeakProxy.m" target-dir="mrprogress" />

		<framework src="Accelerate.framework" />
		<framework src="Security.framework" />
		<framework src="Photos.framework" weak="true"/>
		<framework src="SystemConfiguration.framework" />
		<framework src="QuartzCore.framework" />

	</platform>

	<!-- android -->
	<platform name="android">
		<!-- <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4" /> -->
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="android-package" value="com.synconset.ImagePicker"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:label="@string/multi_app_name" android:name="com.synconset.MultiImageChooserActivity" android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait">
				<!-- <intent-filter /> -->
			</activity>
		<activity
			android:name="com.photoselector.ui.PhotoSelectorActivity"
			android:label="图片选择"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.photoselector.ui.PhotoPreviewActivity"
			android:label="图片预览"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.photoselector.ui.PhotoSelectorPreview"
			android:label="点击图片"
			android:screenOrientation="portrait" >
		</activity>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>

		<config-file target="res/values/strings.xml" parent="/resources">
			<string name="multi_app_name">UltraPhotoSelector</string>
			<string name="more_than_max">Exceeds the upper limit</string>
			<string name="preview">Preview</string>
			<string name="recent_photos">Recent photos</string>
			<string name="sure">Next</string>
			<string name="select_photos">Select photos</string>
			<string name="back">Back</string>
			<string name="taking_pictures">Taking Pictures</string>
			<string name="max_img_limit_reached">Cannot select more than %d images</string>
			<string name="alert_limit_title">Maximum %1$d Photos</string>
			<string name="alert_limit_message">You can only select %1$d photos at a time.</string>
			<string name="ok">OK</string>
			<string name="progress_title">Processing Images</string>
			<string name="progress_message">This may take a few moments.</string>
		</config-file>
		<!-- <framework src="src/android/Library/Android-Ultra-Photo-Selector" custom="true"/> -->


		<source-file src="src/android/com/synconset/ImagePicker/ImagePicker.java" target-dir="src/com/synconset" />
		<source-file src="src/android/com/synconset/ImagePicker/FakeR.java" target-dir="src/com/synconset" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/libs/universal-image-loader-1.9.3-with-sources.jar" target-dir="libs" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/controller/AlbumController.java" target-dir="src/com/photoselector/controller" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/domain/PhotoSelectorDomain.java" target-dir="src/com/photoselector/domain" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/model/AlbumModel.java" target-dir="src/com/photoselector/model" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/model/PhotoModel.java" target-dir="src/com/photoselector/model" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/AlbumAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/AlbumItem.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/BasePhotoPreviewActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/MBaseAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoItem.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoPreview.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoPreviewActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoSelectorActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoSelectorAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/util/AnimationUtil.java" target-dir="src/com/photoselector/util" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/util/CommonUtils.java" target-dir="src/com/photoselector/util" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/Animation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/Animator.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingAnimationListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageView.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageViewListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageViewTouchListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MathUtils.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MoveAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MoveAnimationListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/VectorF.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/ZoomAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/ZoomAnimationListener.java" target-dir="src/com/polites" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/activity_alpha_action_in.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/pb_default.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_down.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_down_current.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_up.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_up_current.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/bg_back_arrow_white_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/bg_dark_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_back_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_black_textcolor_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_camera_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_checkbox_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_green_selector_rectangle.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_album_border.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_dark.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_dark_translucent.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_grey_dark.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_back_arrow_white_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_back_arrow_white_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_camera_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_camera_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_checkbox_normal.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_checkbox_pressed.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_choice_green.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_launcher.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_loading_white.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_picture_loadfailed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_picture_loading.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_spinner_white.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_title_btn_back.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-mdpi/ic_launcher.png" target-dir="res/drawable-mdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_checkbox_normal.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_checkbox_pressed.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_launcher.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xxhdpi/arrow.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xxhdpi/ic_launcher.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/activity_photopreview.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/activity_photoselector.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/layout_album.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/layout_photoitem.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/view_camera.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/view_photopreview.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/colors.xml" target-dir="res/values" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/dimens.xml" target-dir="res/values" />
		<!-- <source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/strings.xml" target-dir="res/values" /> -->
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/styles.xml" target-dir="res/values" />
		<!-- <source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values-zh/strings.xml" target-dir="res/values-zh" /> -->
	</platform>

	<!-- amazon-fireos -->
	<platform name="amazon-fireos">
		<!-- <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4" /> -->
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="android-package" value="com.synconset.ImagePicker"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:label="@string/multi_app_name" android:name="com.synconset.MultiImageChooserActivity" android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait">
				<!-- <intent-filter /> -->
			</activity>
		<activity
			android:name="com.photoselector.ui.PhotoSelectorActivity"
			android:label="图片选择"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.photoselector.ui.PhotoPreviewActivity"
			android:label="图片预览"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.photoselector.ui.PhotoSelectorPreview"
			android:label="点击图片"
			android:screenOrientation="portrait" >
		</activity>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>

		<config-file target="res/values/strings.xml" parent="/resources">
			<string name="multi_app_name">UltraPhotoSelector</string>
			<string name="more_than_max">Exceeds the upper limit</string>
			<string name="preview">Preview</string>
			<string name="recent_photos">Recent photos</string>
			<string name="sure">Next</string>
			<string name="select_photos">Select photos</string>
			<string name="back">Back</string>
			<string name="taking_pictures">Taking Pictures</string>
			<string name="max_img_limit_reached">Cannot select more than %d images</string>
			<string name="alert_limit_title">Maximum %1$d Photos</string>
			<string name="alert_limit_message">You can only select %1$d photos at a time.</string>
			<string name="ok">OK</string>
			<string name="progress_title">Processing Images</string>
			<string name="progress_message">This may take a few moments.</string>
		</config-file>
		<!-- <framework src="src/android/Library/Android-Ultra-Photo-Selector" custom="true"/> -->


		<source-file src="src/android/com/synconset/ImagePicker/ImagePicker.java" target-dir="src/com/synconset" />
		<source-file src="src/android/com/synconset/ImagePicker/FakeR.java" target-dir="src/com/synconset" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/libs/universal-image-loader-1.9.3-with-sources.jar" target-dir="libs" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/controller/AlbumController.java" target-dir="src/com/photoselector/controller" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/domain/PhotoSelectorDomain.java" target-dir="src/com/photoselector/domain" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/model/AlbumModel.java" target-dir="src/com/photoselector/model" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/model/PhotoModel.java" target-dir="src/com/photoselector/model" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/AlbumAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/AlbumItem.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/BasePhotoPreviewActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/MBaseAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoItem.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoPreview.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoPreviewActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoSelectorActivity.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/ui/PhotoSelectorAdapter.java" target-dir="src/com/photoselector/ui" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/util/AnimationUtil.java" target-dir="src/com/photoselector/util" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/photoselector/util/CommonUtils.java" target-dir="src/com/photoselector/util" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/Animation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/Animator.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingAnimationListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/FlingListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageView.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageViewListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/GestureImageViewTouchListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MathUtils.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MoveAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/MoveAnimationListener.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/VectorF.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/ZoomAnimation.java" target-dir="src/com/polites" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/src/com/polites/ZoomAnimationListener.java" target-dir="src/com/polites" />

		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/activity_alpha_action_in.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/pb_default.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_down.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_down_current.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_up.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/anim/translate_up_current.xml" target-dir="res/anim" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/bg_back_arrow_white_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/bg_dark_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_back_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_black_textcolor_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_camera_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_checkbox_selector.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable/btn_green_selector_rectangle.xml" target-dir="res/drawable" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_album_border.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_dark.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_dark_translucent.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_grey_dark.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/bg_title_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_back_arrow_white_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_back_arrow_white_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_camera_normal.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_camera_pressed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_checkbox_normal.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_checkbox_pressed.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_choice_green.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_launcher.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_loading_white.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_picture_loadfailed.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_picture_loading.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_spinner_white.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-hdpi/ic_title_btn_back.9.png" target-dir="res/drawable-hdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-mdpi/ic_launcher.png" target-dir="res/drawable-mdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_checkbox_normal.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_checkbox_pressed.9.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xhdpi/ic_launcher.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xxhdpi/arrow.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/drawable-xxhdpi/ic_launcher.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/activity_photopreview.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/activity_photoselector.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/layout_album.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/layout_photoitem.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/view_camera.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/layout/view_photopreview.xml" target-dir="res/layout" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/colors.xml" target-dir="res/values" />
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/dimens.xml" target-dir="res/values" />
		<!-- <source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/strings.xml" target-dir="res/values" /> -->
		<source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values/styles.xml" target-dir="res/values" />
		<!-- <source-file src="src/android/Library/Android-Ultra-Photo-Selector/res/values-zh/strings.xml" target-dir="res/values-zh" /> -->
	</platform>
</plugin>
