<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.synconset.imagepicker"
  version="1.1.0">

	<name>ImagePicker</name>

	<description>
		This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
	</description>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/imagepicker.js" name="ImagePicker">
		<clobbers target="plugins.imagePicker" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="ios-package" value="SOSPicker"/>
			</feature>
		</config-file>

		<header-file src="src/ios/SOSPicker.h" />
		<source-file src="src/ios/SOSPicker.m" />
		<pods-config ios-min-version="8.0" use-frameworks="true">
        </pods-config>
		
		<pod name="GMImagePicker" git="https://github.com/nixplay/GMImagePicker" branch="develop"/>
		<pod name="AFNetworking" />
		<pod name="MRProgress" />
		<pod name="MBProgressHUD" />
		<pod name="DLFPhotosPicker" git="https://github.com/nixplay/DLFPhotosPicker"/>
		<framework src="Accelerate.framework" />
		<framework src="Security.framework" />
		<framework src="Photos.framework" weak="true"/>
		<framework src="SystemConfiguration.framework" />
		<framework src="QuartzCore.framework" />

	</platform>

	<!-- android -->
	<platform name="android">
		<!-- <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4" /> -->
		<framework src="com.kbeanie:multipicker:1.1.31@aar"/>
		<framework src="com.kaopiz:kprogresshud:1.0.5"/>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="android-package" value="com.synconset.ImagePicker"/>
			</feature>
		</config-file>
		<source-file src="src/android/ImagePicker.java" target-dir="src/com/synconset" />
		<source-file src="src/android/FakeR.java" target-dir="src/com/synconset" />
		<source-file src="src/android/ImagePickerPluginActivity.java" target-dir="src/com/synconset" />
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.synconset.ImagePickerPluginActivity" android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait">
				
			</activity>
		</config-file>
		
	</platform>

</plugin>
